<li class="order-list-item">
    <a href="/pedidos/detalle-de-pedido/<%=fullOrder.id%>">
        <h3>
            Pedido de <%= users[fullOrder.user_id - 1].alias %>
        </h3>
        <% if (fullOrder.listing_status == 'confirmado') { %>
         <h5 style="background-color: greenyellow; padding: 5px 2px;">Pedido Confirmado</h5>
        <% }else if(fullOrder.listing_status == 'a confirmar') {%>
        <h5 style="background-color: orange; padding: 5px 2px;">Pedido a confirmar</h5>
        <% } %>
        <div style="display: flex;  flex-wrap: wrap; justify-content: flex-start; ">
            <% let orderedProducts = fullOrder.products.split(',') %>
            <% orderedProducts.forEach(order => { %>
                <% let orderedProductId = order.split(' ') %>
                <% let orderedProduct = products[orderedProductId[1] - 1]%>
                <div style="margin-right: 2%;">
                    <a href="/productos/detalle-de-producto/<%= orderedProduct.id %> "><img src="/images/<%= orderedProduct.img %>" alt="" height="150px">
                    <p><%= `${orderedProductId[0]} de ${orderedProduct.alias}` %> </p></a>
                </div>
                
            <% }) %>
        </div>
            
    </a>
</li>