<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Detalle de Marca'}) %>

<body>
    <%- include('./partials/header') %> 
    <main>
        <h1>Marca:  <%= brands[brand_id - 1].alias %></h1>

    <h2>Productos de esta marca <%=products.length%></h2>
    <ul class="products-list">
        <% products.forEach(product=> { %>
            <%- include('./partials/product-list-item', {product: product}) %>
        <% }) %>
    </ul>
    </main>
    
</body>
</html>